.backtotop span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#012970;
    position: fixed;
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    color: #4473F4;
    font-size: 2rem;
    right: 0;
    bottom: 1%;
    z-index: 44;
}
.notbacktotop span{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color:#F3A735;
    position: fixed;
    display: flex;
    font-weight: 900;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 2rem;
    right: 0;
    bottom: 1%;
    z-index: 44;
}