#Blogs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10vh;
    padding: 40px 0px 20px 0px ;
    height: fit-content;
    
}
.h{
    font-size: 2rem;
    font-weight: 700;
    color: #012970;
    letter-spacing: 1.5px;
}
.noth{
    font-size: 2rem;
    font-weight: 700;
    color: #F3A735;
    letter-spacing: 1.5px;
}
.Blogs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
}
.Blogsitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    border:3px solid #012970;
    width: 380px;
    height: 50vh;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s 0.1s transform ease , 0.3s 0.3s border ease;
    margin-bottom: 10px;
    box-shadow: -1px 2px 20px 4px #a7b6d1;
    padding: 10px;
}
.Blogsitem h3{
    color: #012970;
}
.Blogsitem:hover{
    transform: translateY(-10px);
    border:3px solid  #4473F4;
}
.notBlogsitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    border:3px solid #F3A735;
    width: 380px;
    height: 50vh;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s 0.1s transform ease , 0.3s 0.3s border ease;
    margin-bottom: 10px;
    box-shadow: 0px 1px 6px 0px #F3A735;
    padding: 10px;
}
.notBlogsitem h3{
    color: #F3A735;
}
.notBlogsitem:hover{
    transform: translateY(-10px);
    border:3px solid  #fff;
}
.details{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
    gap: 50px;
}
.too{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;
}
.too span{
    color: #4473F4;
    font-size: 1.2rem;
}
.nottoo{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
    gap: 5px;
}
.nottoo span{
    color: #F3A735;
    font-size: 1.2rem;
}
.nottoo p{
    color: #fff;
}
.immggss{
    width: 100%;
    height: 60%;
}
.immggss img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}