#Sellers{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10vh;
    padding: 40px 0px 20px 0px ;
    height: fit-content;
     
}
.h{
    font-size: 2rem;
    font-weight: 700;
    color: #012970;
    letter-spacing: 1.5px;
}
.noth{
    font-size: 2rem;
    font-weight: 700;
    color: #F3A735;
    letter-spacing: 1.5px;
}
.Sellers{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 70%;
}
.Sellersitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    border:3px solid #012970;
    width: 200px;
    height: 30vh;
    background-color: #fff;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s 0.1s scale ease , 0.3s 0.3s border ease;
    margin-bottom: 10px;
    box-shadow: -1px 2px 20px 4px #a7b6d1;
}
.Sellersitem h3{
    color: #012970;
}
.Sellersitem:hover{
    scale: 1.1;
    border:3px solid  #4473F4;
}
.notSellersitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    border:3px solid #F3A735;
    width: 200px;
    height: 30vh;
    background-color: transparent;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.3s 0.1s scale ease , 0.3s 0.3s border ease;
    margin-bottom: 10px;
    box-shadow: 0px 1px 6px 0px #F3A735;
}
.notSellersitem h3{
    color: #F3A735;
}
.notSellersitem:hover{
    scale: 1.1;
    border:3px solid  #fff;
}
.imgggss{
    width: 70px;
    height:70px ;
    border-radius: 50%;
    border:3px solid #012970;
    display: flex;
    justify-content: center;
    align-items: center;

}
.imgggss img{
    width: 100%;
    border-radius: 50%;
}
.notimgggss{
    width: 70px;
    height:70px ;
    border-radius: 50%;
    border:3px solid #F3A735;
    display: flex;
    justify-content: center;
    align-items: center;

}
.notimgggss img{
    width: 100%;
    border-radius: 50%;
}