#Work{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: column nowrap;
    gap: 10vh;
    padding: 40px 0px 20px 0px ;
    height: fit-content;
     
}
.h{
    width: 100%;
    color: #012985;
    text-align: center;
}
.noth{
    width: 100%;
    color: #F3A735;
    text-align: center;
}
.Work{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 90%;
}
.Workitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
    width: 300px;
    height: 430px;
    border:3px solid #012970;
    background-color: #fff;
    cursor: pointer;
    transition: 0.3s 0.1s scale ease , 0.3s 0.3s border ease;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: -1px 2px 20px 4px #a7b6d1;
}
.Workitem:hover{
    scale: 1.02;
    border:3px solid  #4473F4;
}
.notWorkitem{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    gap: 5px;
    width: 300px;
    height: 430px;
    border:3px solid #F3A735;
    background-color: transparent;
    cursor: pointer;
    transition: 0.3s 0.1s scale ease , 0.3s 0.3s border ease;
    margin-bottom: 10px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 0px 1px 6px 0px #F3A735;
}
.notWorkitem:hover{
    scale: 1.02;
    border:3px solid  #fff;
}
.up{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row nowrap;
    gap: 10px;
    width: 95%;
}
.immg{
    width: 57px;
    height: 57px;
    border-radius: 50%;
    border:2px solid #012970;
    display: flex;
    justify-content: center;
    align-items: center;
}
.immg img {
    width: 100%;
    border-radius: 50%;
}
.up h3{
    color: #012970;
}
.imgss{
    width: 95%;
    height: 300px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.imgss img{
    width: 90%;
}
.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-flow: row wrap;
    width: 95%;
}
.price h4{
    color: #4070F4;
    font-weight: 600;
}
.price span{
    color: #012970;
    font-weight: 400;
}
.Workitem h3{
    color: #012970;
}
.notWorkitem h3{
    color: #F3A735;
}
button{
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color: red;
}
.fill{
    display: none;
}